:root {
  --dark: #dcf1d9;
  --accent: #b4c8b1;
  --misc: #4caf50;
  --text: #333333;
  --text-light: #5c5c5c;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid var(--text); */
}

body {
  min-height: 100dvh;
  display: flex;
  align-items: center;
  background-color: var(--dark);
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  align-items: center;
  block-size: 48rem;
  container: menu / inline-size;
  justify-content: center;

  @media (width < 800px) {
    block-size: inherit;
  }
}
main > h2 {
  color: var(--text-light);
  border-block: 2px solid var(--text-light);
}

footer {
  align-self: center;
  font-size: 1.2rem;
  color: var(--dark);
}
.open{
  background-color: var(--misc);
}
.close{
  background-color: rgba(252, 64, 64, 0.849);
}
.signature a {
  color: var(--misc);
  text-decoration: none;
  transition: opacity 0.2s linear;
  &:hover {
    opacity: 0.7;
  }
}

.signature {
  align-self: flex-end;
  /* padding-right: 2em; */
  /* outline: 1px solid #333333; */
  font-size: 1.2rem;
}

#start {
  min-width: 17rem;
  width: 80vw;
  max-width: 70rem;
  margin: 0 auto;
  display: flex;
  color: var(--text);
  font-family: sans-serif;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
  padding-block: 1em;
}

.grid-column {
  display: grid;
  align-items: center;
  grid-template-columns: minmax(min(400px, 100%), 1fr);
  grid-auto-rows: 1fr 1fr;
}

.grid-col-autorow {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
  grid-auto-rows: 200px;
  @media (min-width: 640px) {
    grid-template-columns: repeat(2, 1fr); /* Limit to 2 columns max */
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-image-container {
  display: block;
  aspect-ratio: 1; /* Sets a square aspect ratio */
  overflow: hidden; /* Ensures scaling is clipped */
  align-self: stretch;
}
.card-image {
  align-self: stretch;
  display: block;
  inline-size: 100%;
  block-size: 100%;
  max-inline-size: 100%;
  object-fit: cover;
  transition: scale 0.5s ease-in-out;

  &:focus-within,
  &:hover {
    scale: 1.15;
  }
}

.card-title-price-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-content {
  padding: 1rem;
  border: 1px solid var(--accent);
  background-color: var(--accent);
  /* when card-img on the same row and left */
  border-inline-start: none;
  /* when card-img is on top*/
  /* border-block-start: none; */
}
.card-title {
  font-size: 1rem;
  line-height: 1.4rem;
  font-weight: 700;
  color: var(--text);
  margin-block-end: 0.15rem;
}
.card-description {
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--text-light);
}
.card {
  overflow: hidden;
  letter-spacing: 2px;
  display: grid;
  grid-template-columns: 42% auto;
  /* @media (width<450px) {
    grid-template-columns: 1fr;
  } */
}

h1 {
  font-size: 3.1rem;
  letter-spacing: 0.723rem;
  font-weight: 800;
  text-align: center;
  display: flex;
  text-wrap: balance;
  align-items: center;
justify-content: space-evenly;

  &::before {
    content: "";
    justify-self: flex-end;
    inline-size: 4.2em;
    block-size: 0.2em;
    background-color: var(--misc);
  }
  &::after {
    content: "";
    inline-size: 4.2em;
    block-size: 0.2em;
    background-color: var(--misc);
  }
}
@container menu (inline-size<640px) {
  .grid-col-autorow {
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr auto;
  }
  .card {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
}

.cards {
  /* overflow: scroll; */

  inline-size: 100%;
  /* scrollbar-color: var(--text) var(--accent); */
  /* scrollbar-width: thin; */
  gap: 1.2rem;
  color: var(--text);
}

@container menu (inline-size<1000px) {
  .cards {
    gap: 1rem;
  }
}

.suggestions {
  list-style: none;
  letter-spacing: 2px;
  color: var(--dark);
  max-height: 30rem;
  overflow-y: scroll;
  scrollbar-color: var(--green) var(--dark);
  scrollbar-width: auto;
}

.suggestions li {
  border-radius: 5px;
  background-color: var(--white);
  padding: 1em 1.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1000px) {
  .wrapper {
    width: 76vw;
  }
}

@media (width<440px) {
  h1 {
    font-size: 2.5rem;
  }
}
